@model IEnumerable<Vaccinatedclient.Models.dose>

    
        <div class="main">
            <div class="main_top">
                <img src="images/element223111-9f3.svg" alt="user">
                <h2>اللقاحات </h2>
            </div>
            <hr>
            <div class="main_middel">
                <button><a asp-action="add_dose" asp-controller="Dose">إضافة</a></button>
                <hr>
            </div>
            <div class="main_bottom">
                <table class="table_toggler" id="dtable">
                    <thead>
                        <tr>
                            <th>رقم اللقاح </th>
                            <th>أسم اللقاح  </th>
                            <th>الوصف </th>
                            <th>العمليات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.name</td>
                            <td>@item.desc</td>
                             <td class="management">
                             <span class="edit"><a href="@Url.Action("Edit_dose", "Dose",new{id=@item.ID})">
                         <img alt=@item.name src="/images/draw.png"> </a></span>
                             <span class="delet"><a href="@Url.Action("Delete_dose", "Dose",new{id=@item.ID})">
                         <img alt=@item.name src="/images/trash.png"> </a></span>

                            </td>
                        </tr>
                        }


                </tbody>
                </table>
            </div>

        </div>